*{
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
}

body{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

li{
    list-style-type: none;
}

.Member
{ 
    padding: 0 24px;
    /* align-items: center; */
    flex-wrap: wrap;
     display: flex;

}

.img_member
{
    width : 330px ;  

}



/* Set nó cái div này = cái ảnh thì chữ sẽ chỉ đến cái ảnh thì dừng  */
.Text_member
{
    width : 330px;
}

/* Contact  */

.btn_contact
{   
    width : 330px;
    padding:10px;
    margin-top : 20px;
    background-color: #f1f1f1;
    border : none;
}

.btn_contact:hover 
{
    cursor: pointer;
    background-color: #976969 ;
}

p+p
{
    margin-top : 15px;
}
.h3_name
{
    margin: 15px 0 ;
}

.slick-prev{
    
    background-color: #2cccff;
    padding: 10px 20px;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.slick-next{
    background-color: #2cccff;
    right: 0;
    padding: 10px 20px;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev img{
    width: 20px;
    height: 20px;
}

.slick-next img{
    width: 20px;
    height: 20px;
}

.slick-list{
    padding: 0 20px;
}

